small{
    color: white;
    background-color: brown;
    font-size: 18px;
    padding: 5px;
}

h1{
    color: whitesmoke;
    background-color: red;
}

.blog{
    background-color: green;
    margin: 10px;
    /* padding: 10px; */
    width: 31%;
    height: 300px;
    display: inline-block;
 
}
.blog h1{
    text-align: center;
}